COMPOSE_PROJECT_NAME=ia-gen
ENVIRONMENT=development
BACKEND_PORT=8000
BACKEND_DEBUG=True
BACKEND_PROJECT_NAME=IA Gen Backend
BACKEND_LOG_LEVEL=INFO
FRONTEND_PORT=3000
FRONT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
OLLAMA_HOST=0.0.0.0:11434
OLLAMA_API_HOST=http://ollama:11434
MODEL_NAME=llama2
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000
